.segment {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#disclaimer {
  padding: 10em 0em;
}

.element {
  min-height: 100vh;
}

.active {
  background: rgba(0, 0, 0, .1);
}

.ui.menu .item {
  color: rgba(0, 0, 0, .6);
}

.ui.menu .item:hover {
  color: rgba(0, 0, 0, 1)
}

#instagram-nav:hover, #facebook-nav:hover, #contact-nav:hover {
  background-color: rgba(255, 255, 255, 0);
}

#instagram-nav, #facebook-nav {
  margin: 0;
  padding: 0;
}

#down-arrow-header {
  padding-top: 3em;
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blink normal 1.5s infinite ease-in-out;
  -webkit-animation:blink normal 1.5s infinite ease-in-out;
  -ms-animation:blink normal 1.5s infinite ease-in-out;
  animation:blink normal 1.5s infinite ease-in-out;
}

#down-arrow-our-mission {
  padding-top: 1em;
  -moz-transition:all 0.5s ease-in-out;
  -webkit-transition:all 0.5s ease-in-out;
  -o-transition:all 0.5s ease-in-out;
  -ms-transition:all 0.5s ease-in-out;
  transition:all 0.5s ease-in-out;
  -moz-animation:blinkB normal 1.5s infinite ease-in-out;
  -webkit-animation:blinkB normal 1.5s infinite ease-in-out;
  -ms-animation:blinkB normal 1.5s infinite ease-in-out;
  animation:blinkB normal 1.5s infinite ease-in-out;
}

#down-arrow-our-mission:hover {
  color: black;
  -moz-transition:none;
  -webkit-transition:none;
  -o-transition:none;
  -ms-transition:none;
  transition:none;
  -moz-animation:none;
  -webkit-animation:none;
  -ms-animation:none;
  animation:none;
}

@keyframes blinkB {
  0% {
        color: rgba(0,0,0, 1)
  }
  50% {
        color: rgba(0,0,0, .4)
  }
  100% {
        color: rgba(0,0,0, 1)
  }
}

@-webkit-keyframes blinkB {
  0% {
        color: rgba(0,0,0, 1)
  }
  50% {
        color: rgba(0,0,0, .4)
  }
  100% {
        color: rgba(0,0,0, 1)
  }
}

@keyframes blink {
  0% {
        color: rgba(255,255,255, 1)
  }
  50% {
        color: rgba(255,255,255, .4)
  }
  100% {
        color: rgba(255,255,255, 1)
  }
}

@-webkit-keyframes blink {
  0% {
        color: rgba(255,255,255, 1)
  }
  50% {
        color: rgba(255,255,255, .4)
  }
  100% {
        color: rgba(255,255,255, 1)
  }
}

i.circular.icon {
  box-shadow: 0 0 0 0.05em rgba(0,0,0,1) inset;
  font-size: 5em;
}

.slick-prev:before, .slick-next:before {
  color: black;
  font-size: 20px;
}

.slick-slide, .slick-slide * { 
  outline: none !important; 
}
