.segment {
  min-height: 100vh;
}

#disclaimer {
  padding: 10em 0em;
}

.element {
  min-height: 100vh;
}

.active {
  background: rgba(0, 0, 0, .1);
}

h1 {
  padding-top: 300px;
}

.ui.menu .item {
  color: rgba(0, 0, 0, .6)
}

.ui.menu .item:hover {
  color: rgba(0, 0, 0, 1)
}